# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/ga2022/v17/Browse.VC.db
.vs/ga2022/v15/Browse.VC.db
src/.vs/ga2022/v17/Browse.VC.opendb
src/.vs/ga2022/FileContentIndex/06888854-4b48-408b-b1f1-8a1de261a8b5.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
src/.vs/ga2022/FileContentIndex/512d96cc-bae0-4056-b162-4e0207946ac4.vsidx
*.vsidx
src/.vs/ga2022/v17/.suo
*.db
src/.vs/ga2022/v17/Browse.VC.db-wal
src/.vs/ga2022/FileContentIndex/512d96cc-bae0-4056-b162-4e0207946ac4.vsidx
src/.vs/ga2022/FileContentIndex/a605cc4f-9c6c-4d80-9152-79568ee54249.vsidx
*.ipch
*.tlog
src/x64/Debug/ga2022.vcxproj.FileListAbsolute.txt
src/x64/Debug/ga2022.log
src/.vs/ga2022/FileContentIndex/512d96cc-bae0-4056-b162-4e0207946ac4.vsidx
src/.vs/ga2022/v17/Browse.VC.db-shm
